################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebHooksDemo/WebHooksDemo/bin
/WebHooksDemo/packages
